.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
  }

  .searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  .clearButton {
    margin-left: 10px;
    padding: 10px;
    background-color: #53c28b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .clearButton:hover {
    background-color: #439d74;
  }
  
  .clearButton:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(83, 194, 139, 0.3);
  }
  
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    font-size: 36px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .filters {
    display: flex;
    gap: 10px;
  }
  
  .filterInput {
    padding: 5px;
  }
  
  .bookCount {
    font-size: 16px;
    color: #888;
  }
  
  .bookGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #194c33;
  }
  
  .bookCard {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .paginationButton {
    padding: 5px 10px;
    background-color: #53c28b;
    color: white;
    border: none;
    cursor: pointer;
  }
  